.container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 4.75rem);

  background-color: #0f0f0f;

  .logoContent {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hero {
      max-width: 30rem;
      width: auto;
      height: auto;

      object-fit: contain;
    }

    .title {
      width: 18.75rem;
      margin: 1.75rem 1.75rem 1.75rem 1.75rem;

      color: #fff;

      text-align: center;
      line-height: 150%;
    }

    .infoContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 31.25rem;

      .boxWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 6.875rem;
      }

      .box {
        padding: 0.9375rem 2.8125rem;
        border-radius: 0.3125rem;

        background-color: #fafafa;

        text-align: center;

        transition: transform 0.2s;
      }

      .box:hover {
        transform: scale(1.08);
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .logoContent {
    flex-direction: column;
  }

  .hero {
    width: 70% !important;
  }

  .title {
    font-size: 1.5rem;
  }

  .infoContent {
    flex-direction: column;

    .box {
      width: 100%;
      margin: 0 0 0.9375rem 0;

      text-align: center;
    }
  }
}
